<courses-banner></courses-banner>
<mat-tab-group class="semester-group">
  <mat-tab *ngFor="let semester of semesters; index as i;" label="{{i+1}}. semestr">
    <div class="action-buttons-container">
      <button mat-raised-button color="primary" class="action-button" (click)="onShowClassesClicked(semester.semesterNumber)">Pokaż grupy zajęciowe</button>
      <button mat-raised-button color="primary" class="action-button" (click)="onAddCourseClicked(semester.semesterNumber)">Dodaj kurs kształcenia ogólnego</button>
    </div>
    <courses-table #courseTable
      [courses]="semester.courses">
    </courses-table>
  </mat-tab>
</mat-tab-group>
