.navbar {
  background-color: #007bff;
  padding: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list li:hover {
  cursor: pointer;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: #ffd700;
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
}

.disabled-style {
  color: gray;
  cursor: not-allowed;
  pointer-events: none;
}

.enabled-style {
  color: black;
  cursor: pointer;
}
