/* app.component.css */
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-content {
  padding: 20px;
  height: calc(100%);
  overflow-y: auto;
}
