.semester-group {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 90%;
  margin-left: 5%;
}

.action-buttons-container {
  display: flex;
  flex-direction: row-reverse;
}

.action-button {
  margin: 10px
}
