#mariadb-service.yaml
apiVersion: v1
kind: Service
metadata:
  name: mariadb
  namespace: database
spec:
  type: NodePort
  ports:
    - port: 3306
      targetPort: 3306
      nodePort: 30036
  selector:
    app: mariadb
