.dialog-title {
  color: #333;
  font-size: 1.5em;
  padding: 16px;
}

.dialog-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-form-field {
  width: 100%;
}

.mat-select {
  min-width: 300px;
  max-width: 80%;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  padding: 16px;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  margin-right: 8px;
}

.save-button {
  background-color: #007bff;
  color: #fff;
}

.option {
  padding: 10px
}

.form-field {
  width: 800px;
}
