<nav class="navbar">
  <div class="logo">
    <a routerLink="/">
      <img src="assets/logo-horizontally.png" alt="Logo">
    </a>
  </div>
  <div class="button-container">
    <ul class="nav-list">
      <li><a routerLink="/study-plan" [ngClass]="{'disabled-style': !authenticationService.authenticatedId, 'enabled-style': authenticationService.authenticatedId}">Plany studiów</a></li>
    </ul>
    <ul class="nav-list">
      <li *ngIf="!isUserLoggedIn" (click)="login()">Zaloguj</li>
      <li *ngIf="isUserLoggedIn">Wyloguj</li>
    </ul>
  </div>
</nav>
