name: Docker Build and Push
on:
  push:
    branches:
      - timetable_service
      - PP-Frontend
      - PS-Frontend
      - PZ-frontend
      - account_service
      - enrollment_service
      - index_service
      - study_plan_service

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract branch name
        id: branch
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/} | tr '[:upper:]' '[:lower:]' | tr '/' '-')" >> $GITHUB_ENV
      - name: Get the version
        id: timestamp
        run: echo "TIMESTAMP=$(date +%s)" >> $GITHUB_ENV
      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.BRANCH_NAME }}:${{ env.TIMESTAMP }}
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.BRANCH_NAME }}:latest
